@use '../../../app-theme';

::ng-deep.mat-mdc-fab .mat-mdc-button-ripple,
::ng-deep.mat-mdc-fab .mat-mdc-button-persistent-ripple,
::ng-deep.mat-mdc-fab .mat-mdc-button-persistent-ripple::before,
::ng-deep.mat-mdc-mini-fab .mat-mdc-button-ripple,
::ng-deep.mat-mdc-mini-fab .mat-mdc-button-persistent-ripple,
::ng-deep.mat-mdc-mini-fab .mat-mdc-button-persistent-ripple::before {
  display: none !important;
}

::ng-deep button.mat-mdc-fab.mat-primary,
::ng-deep button.mat-mdc-mini-fab.mat-primary {
  background-color: var(--time-picker-touch-color);
  color: var(--time-picker-touch-fore-color)
}

:host .tab-modes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(100dvh - 228px);
  width: auto;
  position: relative;

  .modes-fieldset {
    max-width: 380px;
    height: fit-content;
    align-items: center;
    margin: 12px 0 12px 0;

    display: table;
    flex-direction: column;

    --buttons-width: 350px;
    --field-select-width: 178px;
    --field-width: 158px;
    --label-width: 100px;
    --field-select-aux-width: 136px;
    --field-select-aux2-width: 46px;
    --field-aux-width: 120px;
    --label-aux-width: 55px;

    .aux-title {
      width: 100%;
      text-align: right;
      font-size: 10px;
    }

    .field-container {
      margin: 8px 0 0 0;
      display: flex;
      flex-direction: row;
      position: relative;

      .action-button {
        width: var(--buttons-width);
        display: flex;
        justify-content: flex-end;
      }

      &.aux {

        .aux-ctrls {
          width: 80px;
          height: 28px;
          padding: 4px 0 0 8px;
          display: flex;
          flex-direction: row;

          .aux-switch {
            scale: 0.8;
          }

          ::ng-deep .mat-mdc-checkbox {
            .mdc-form-field {
              height: 18px;
              width: 18px;

              .mdc-checkbox__background {
                border-width: 1px;
              }
            }
          }
        }

        ::ng-deep mat-form-field {
          width: var(--field-aux-width);

          .mdc-floating-label {
            width: var(--label-aux-width);
          }

          .mat-mdc-input-element {
            padding-left: calc(var(--label-aux-width) + 4px);
            &.time-picker {
              text-align: right;
            }
          }

          &.select {
            width: var(--field-select-aux-width);
          }

          &.select-aux {
            width: var(--field-select-aux2-width);
          }
        }
      }

      ::ng-deep mat-form-field {
        width: var(--field-width);

        &.select {
          margin-left: 12px;
          width: var(--field-select-width);

          .mat-mdc-select-value {
            top: -2px;
          }
        }

        .mdc-floating-label {
          background-color: var(--app-background-color);
          width: var(--label-width);
        }

        .mat-mdc-input-element {
          padding-left: calc(var(--label-width) + 4px);
          &.time-picker {
            text-align: right;
          }
        }

        .mdc-icon-button {
          font-size: 20px;
          width: 24px;
          height: 24px;
          padding: 0;
        }
      }
    }
  }
}
