<div class="tab-network">
  <fieldset class="app-fieldset network-fieldset">
    <legend>{{ L.$('Настройки MQTT') }}</legend>
    <div class="toggler-container">
      <div class="toggler-label">
        <p>{{L.$('Использовать MQTT')}}</p>
      </div>
      <div class="toggler">
        <mat-slide-toggle color="primary" class="switch" [ngModel]="useMQTT" (toggleChange)="useMQTT = !useMQTT" [disabled]="isDisabled()"></mat-slide-toggle>
      </div>
    </div>

    <div class="field-container">
      <mat-form-field hintLabel="{{ L.$('до 24 символов') }}" floatLabel="always">
        <mat-label>{{ L.$('Имя сeрвера') }}</mat-label>
        <input matInput #inputServer maxlength="24" required autocomplete="new-password"
               [formControl]="mqttServerFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <mat-hint align="end">{{inputServer.value.length}}/24</mat-hint>
        <mat-error *ngIf="mqttServerFormControl.hasError('required')">
          {{ L.$('Поле не может быть пустым!') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field hintLabel="{{ L.$('до 14 символов') }}" floatLabel="always">
        <mat-label>{{ L.$('Пользователь') }}</mat-label>
        <input matInput #inputUser maxlength="14" required autocomplete="new-password"
               [formControl]="mqttUserFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <mat-hint align="end">{{inputUser.value.length}}/24</mat-hint>
        <mat-error *ngIf="mqttUserFormControl.hasError('required')">
          {{ L.$('Поле не может быть пустым!') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field hintLabel="{{ L.$('до 14 символов') }}" floatLabel="always">
        <mat-label>{{ L.$('Пароль') }}</mat-label>
        <input matInput #inputMqttPass required maxlength="14" autocomplete="new-password"
               [formControl]="mqttPassFormControl"
               [type]="hideMqttPassword ? 'password' : 'text'"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <button mat-icon-button matSuffix (click)="hideMqttPassword = !hideMqttPassword">
          <mat-icon>{{hideMqttPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{inputMqttPass.value.length}}/14</mat-hint>
        <mat-error *ngIf="mqttPassFormControl.hasError('required')">
          {{ L.$('Поле не может быть пустым!') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field hintLabel="{{ L.$('порт подключения к MQTT-серверу') }}" floatLabel="always">
        <mat-label>{{ L.$('Порт') }}</mat-label>
        <input matInput required maxlength="14" autocomplete="new-password" type="number" restrict="number"
               [formControl]="mqttPortFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="mqttPortFormControl.hasError('required')">
          {{ L.$('Поле не может быть пустым!') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field hintLabel="{{ L.$('до 30 символов') }}" floatLabel="always">
        <mat-label>{{ L.$('Префикс') }}</mat-label>
        <input matInput #inputPrefix maxlength="30" required autocomplete="new-password"
               [formControl]="mqttPrefixFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <mat-hint align="end">{{inputPrefix.value.length}}/30</mat-hint>
      </mat-form-field>
    </div>

    <div class="field-container">
      <div class="action-button">
        <button mat-raised-button color="primary" (click)="applyMqttSettings($event)" [disabled]="isDisabled() || !isMqttSettingsValid()">{{L.$('Применить')}}</button>
      </div>
    </div>

  </fieldset>
</div>
