@use '../../../app-theme';

:host .tab-synch {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 6px 0;
  height: calc(100vh - 228px);
  width: auto;
  position: relative;

  --field-width: 320px;
  --label-width: 140px;
  --label-s1-width: 170px;
  --label-s2-width: 80px;
  --field-s1-width: 185px;
  --field-s2-width: 110px;

  .synch-fieldset {
    width: 100%;
    max-width: 380px;
    height: fit-content;
    display: table;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 12px 0;

    .field-container {
      margin: 8px 0 0 0;
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 0 12px;

      .action-button {
        width: var(--field-width);
        display: flex;
        justify-content: flex-end;
      }

      ::ng-deep mat-form-field {
        width: var(--field-width);

        .mdc-floating-label {
          background-color: var(--app-background-color);
          width: calc(var(--label-width) + 4px);
        }

        .mat-mdc-select {
          padding-left: calc(var(--label-width) + 4px);
          position: relative;
          top: -29px;

          .mat-mdc-select-arrow-wrapper {
            transform: none;
          }
        }
      }
    }

    .viewport-container {
      margin: -8px 0 18px 12px;

      .field-container {
        margin: 8px 0 0 0;
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0 12px;

        .size {
          text-align: right;
        }

        ::ng-deep mat-form-field {

          &.s1 {
            width: var(--field-s1-width);

            .mdc-floating-label {
              background-color: var(--app-background-color);
              width: var(--label-s1-width);

              span.mat-mdc-form-field-required-marker {
                display: none;
              }

              mat-label.s1 {
                display: block;
                width: var(--label-s1-width);
              }
            }
          }

          &.s2 {
            width: var(--field-s2-width);
            .mdc-floating-label {
              background-color: var(--app-background-color);
              width: var(--label-s2-width);

              span.mat-mdc-form-field-required-marker {
                display: none;
              }

              mat-label.s2 {
                display: block;
                width: var(--label-s2-width);
              }
            }
          }

        }
      }
    }
  }
}
