<div class="tab-setup">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" matTooltip="{{L.$('Матрица ')}}">settings_overscan</mat-icon>
        <span>{{ L.$('Матрица ') }}</span>
      </ng-template>
      <ng-template matTabContent>
        @defer (on viewport) {
          <app-tab-matrix></app-tab-matrix>
        } @placeholder {
          <div>{{ L.$('Матрица ') }}</div>
        }
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" matTooltip="{{L.$('Настройки оборудования')}}">memory</mat-icon>
        <span>{{ L.$('Оборудование') }}</span>
      </ng-template>
      <ng-template matTabContent>
        @defer (on viewport) {
          <app-tab-wiring></app-tab-wiring>
        } @placeholder {
          <div>{{ L.$('Оборудование') }}</div>
        }
      </ng-template>
    </mat-tab>

    @if (managementService.state.clock_allow_horizontal || managementService.state.clock_allow_vertical) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Разметка ')}}">dashboard</mat-icon>
          <span>{{ L.$('Разметка ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          @defer (on viewport) {
            <app-tab-layout></app-tab-layout>
          } @placeholder {
            <div>{{ L.$('Разметка ') }}</div>
          }
        </ng-template>
      </mat-tab>
    }

    @if (supportE131) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Группы ')}}">cast_connected</mat-icon>
          <span>{{ L.$('Группы ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          @defer (on viewport) {
            <app-tab-synch></app-tab-synch>
          } @placeholder {
            <div>{{ L.$('Группы ') }}</div>
          }
        </ng-template>
      </mat-tab>
    }

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" matTooltip="{{L.$('Сеть ')}}">wifi</mat-icon>
        <span>{{ L.$('Сеть ') }}</span>
      </ng-template>
      <ng-template matTabContent>
        @defer (on viewport) {
          <app-tab-network></app-tab-network>
        } @placeholder {
          <div>{{ L.$('Сеть ') }}</div>
        }
      </ng-template>
    </mat-tab>

    @if (supportWeather) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Погода ')}}">filter_drama</mat-icon>
          <span>{{ L.$('Погода ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          @defer (on viewport) {
            <app-tab-weather></app-tab-weather>
          } @placeholder {
            <div>{{ L.$('Погода ') }}</div>
          }
        </ng-template>
      </mat-tab>
    }

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" matTooltip="{{L.$('Прочее ')}}">file_download_done</mat-icon>
        <span>{{ L.$('Прочее ') }}</span>
      </ng-template>
      <ng-template matTabContent>
        @defer (on viewport) {
          <app-tab-other></app-tab-other>
        } @placeholder {
          <div>{{ L.$('Прочее ') }}</div>
        }
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
