<div class="tab-weather">

  <fieldset class="app-fieldset weather-fieldset">
    <legend>{{ L.$('Настройки погоды') }}</legend>

    <div class="field-container">
      <mat-form-field floatLabel="always">
        <mat-label>{{ L.$('Сервер погоды') }}</mat-label>
        <mat-select [(ngModel)]="weather_mode" panelClass="app-select-panel shift-140px" [disableControl]="isDisabled()">
          <mat-option [value]="0">{{ L.$('Выключено') }}</mat-option>
          <mat-option [value]="1">{{ L.$('Yandex Weather') }}</mat-option>
          <mat-option [value]="2">{{ L.$('Open Weather Map') }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field [hintLabel]="L.$('код региона для сервера Yandex')" floatLabel="always">
        <mat-label>{{ L.$('Код региона Yandex') }}</mat-label>
        <input matInput autocomplete="new-password" type="number"
               [formControl]="codeYandexFormControl"
               [disableControl]="isDisabled() || weather_mode !== 1">
        @if (codeYandexFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('Поле не может быть пустым!')}} {{ L.$('Укажите 0, если не используется')}}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field [hintLabel]="L.$('код региона для сервера OpenWeatherMap')" floatLabel="always">
        <mat-label>{{ L.$('Код региона OpenWeatherMap') }}</mat-label>
        <input matInput autocomplete="new-password" type="number"
               [formControl]="codeOWMFormControl"
               [disableControl]="isDisabled() || weather_mode !== 2">
        @if (codeOWMFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('Поле не может быть пустым!')}} {{ L.$('Укажите 0, если не используется')}}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field [hintLabel]="L.$('интервал обновления данных о погоде')" floatLabel="always">
        <mat-label>{{ L.$('Интервал обновления') }}</mat-label>
        <input matInput autocomplete="new-password" type="number" [min]="15" [max]="240" (keydown)="commonService.checkLength($event,3)" (keyup)="commonService.checkLength($event, 3)"
               [formControl]="updateIntervalFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <p matTextSuffix="">{{ L.$('минут') }}</p>
        @if (updateIntervalFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('Поле не может быть пустым!') }}
          </mat-error>
        }
        @if (updateIntervalFormControl.hasError('range') && !updateIntervalFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('от 15 до 240 минут') }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="field-container radio-buttons">
      <mat-label>{{ L.$('Температура в градусах') }}</mat-label>
      <mat-radio-group [(ngModel)]="isFarenheit" [disableControl]="isDisabled()" color="primary">
        <mat-radio-button [value]="0" class="rb">°C</mat-radio-button>
        <mat-radio-button [value]="1" class="rb">°F</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="field-container">
      <div class="action-button">
        <button mat-raised-button color="primary" (click)="applyWeather($event)" [disabled]="isDisabled() || !isWeatherValid()">{{L.$('Применить')}}</button>
      </div>
    </div>

  </fieldset>
</div>
