@use '../../../app-theme';

:host .tab-weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 6px 0;
  height: calc(100dvh - 228px);
  width: auto;
  position: relative;

  .weather-fieldset {
    width: 100%;
    max-width: 380px;
    height: fit-content;
    display: table;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 12px 0;

    --field-width: 320px;
    --label-width: 184px;
    --radio-label-width: 180px;
    --radio-label-label-width: 25px;

    .field-container {
      margin: 8px 0 0 0;
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 0 12px;

      &.radio-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 6px;

        mat-label {
          font-size: 12px;
          width: var(--radio-label-width) !important;
        }

        ::ng-deep .mdc-radio + label {
          font-size: 14px;
          margin-right: 13px;
          padding-left: 0;
          width: var(--radio-label-label-width)
        }
      }

      .action-button {
        width: var(--field-width);
        display: flex;
        justify-content: flex-end;
      }

      ::ng-deep mat-form-field {
        width: var(--field-width);

        .mdc-floating-label {
          background-color: var(--app-background-color);
          width: var(--label-width);
        }

        .mat-mdc-input-element {
          padding-left: calc(var(--label-width) + 4px);
        }

        .mat-mdc-select {
          padding-left: calc(var(--label-width) + 4px);
          top: -29px;
          position: relative;

          .mat-mdc-select-arrow-wrapper {
            position: relative;
            transform: none !important;
            top: 2px;

            .mat-mdc-select-arrow {
              color: var(--field-input-color) !important;
            }
          }
        }
      }
    }
  }
}
