@use '../../../app-theme';

.tab-effects {
  justify-content: center;
  display: flex;

  .content {
    display: flex;
    margin-top: 8px;
    padding: 0 16px;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
    height: 100%;

    --box-width: 380px;

    .top-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      min-width: var(--box-width);

      .power-brightness {
        display: flex;
        flex-direction: row;
        height: auto;
        position: relative;

        width: 100%;

        background-color: var(--app-background-color);
        transition: all 0.2s ease-in-out;
        border: 1px solid var(--card-border-color);
        border-radius: 8px;
        padding: 9px;
        justify-content: center;
        align-items: center;

        .power-btn {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 66px;
          height: 104px;
          flex: 1;

          &.power-off {
            color: var(--power-OFF);
          }

          &.power-on {
            &.standalone {
              color: var(--power-ON);
            }

            &.master {
              color: var(--power-ON);
            }

            &.slave {
              color: var(--power-slave-ON);
            }
          }

          .brightness-label {
            &.power-on {
              color: var(--power-ON);
            }
            &.power-off {
              color: var(--power-OFF);
            }
          }

          span {
            font-size: 13px;
            margin: 25px 0 0 2px;
          }
        }

        .sync-type {
          font-size: 0.6em;
          text-align: center;
          display: flex;
          position: absolute;
          width: 60px;
          height: 18px;
          color: var(--power-OFF);
          left: 0;
          top: 64px;
          justify-content: center;
          align-items: center;
          margin: 0 4px;

          &.master {
            &.power-on {
              color: var(--power-ON);
            }
            &.power-off {
              color: var(--power-OFF);
            }
          }
          &.slave {
            &.stream-on {
              color: var(--power-slave-ON);
            }
            &.stream-off {
              color: var(--power-OFF);
            }
          }
        }

        .brightness-container {
          display: flex;
          flex-direction: column;

          .brightness-slider {
            &.power-on {
              color: var(--power-ON) !important;
            }

            &.power-off {
              color: var(--power-OFF) !important;
            }
          }
        }

        .brightness-buttons {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
      }

      .block-params {
        width: 100%;
        background-color: var(--app-background-color);
        border: 1px solid var(--card-border-color);
        border-radius: 8px;
        transition: all 0.2s ease-in-out;
        display: flex;
        overflow: hidden;
        align-items: center;
      }

      .block3 {
        width: var(--box-width);
        max-width: var(--box-width);
        min-width: var(--box-width);
        display: flex;
        flex-direction: column;
        margin: 12px 6px;
      }

      .clock-button-spacer {
        flex: 1;
        height: 12px;
        min-height: 12px;
      }

      .mode-params {
        flex-direction: row;
        width: 100%;

        .togglers {
          overflow: hidden;
          margin: 0 9px 0 12px;

          .toggler {
            margin: 12px 0;

            p {
              white-space: nowrap;
              overflow: hidden;

              padding-left: 0.75em;
            }
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          margin-left: auto;
          height: 72px;

          button {
            width: 74px;
            height: 100%;
            background-color: var(--card-background-color);
            color: var(--app-foreground-color);
            transition: color, background-color 0.2s ease-in-out;

            .prev {
              border-radius: 8px 0 0 8px;
              border-right: solid 1px var(--app-background-color);
            }

            .next {
              border-radius: 0 8px 8px 0;
            }
          }
        }

        button.night {
          border-radius: 8px;
          width: 100%;
          height: 36px;
          background-color: var(--night-back-color);
          color: var(--night-fore-color);
          transition: color, background-color 0.2s ease-in-out;

          &.active {
            background-color: var(--night-active-back-color);
            color: var(--night-active-fore-color);
            animation: breath infinite 4s;
          }

          .mat-icon {
            font-size: 24px;
            height: 24px;
            width: 24px;
          }
        }

      }

      .time-params {
        flex-direction: row;
        align-items: flex-start;
        padding: 6px 0 10px 0;

        --field-width: 210px;
        --label-width: 140px;

        .field-container {
          margin: 8px 0 0 0;
          padding: 0 12px;

          ::ng-deep mat-form-field {
            width: var(--field-width);

            .mdc-floating-label {
              background-color: var(--app-background-color);
              width: var(--label-width);
            }

            .mat-mdc-input-element {
              padding-left: calc(var(--label-width) + 4px);
            }
          }
        }

        .action-container {
          margin: 8px 0 0 0;
          display: flex;
          flex-direction: row;
          position: relative;
          padding: 0 12px 0 0;
          width: 100%;
          justify-content: flex-end;

          .mdc-button {
            width: 90px;
          }
        }

      }
    }

    .card-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 8px;
      padding: 8px 0;

      h2 {
        font-size: 18px;
        display: flex;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 8px;

        &.left {
          justify-content: start;
        }
        &.right {
          justify-content: end;
        }

      }

      &.choosing {
        flex-wrap: nowrap;
        flex-direction: row;
        flex: 1;
        margin: 0;
        padding: 0;
      }

      .list-container {
        display: flex;
        flex-direction: column;
        min-width: 166px;
        margin: 12px;
        vertical-align: top;

        .btn {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          font-size: 12px;

          &.right {
            justify-content: end;
          }

          &.left {
            justify-content: start;
          }

          .tab-icon {
            height: 20px;
            width: 20px;
            margin: 0;
            cursor: pointer;
          }

          span {
            margin: 0 6px;
          }

        }
        .effect-list {
          background-color: var(--app-background-color);
          border: 1px solid var(--card-border-color);
          min-width: 178px;
          min-height: 62px;
          border-radius: 4px;
          overflow: hidden;
          display: block;
          padding: 12px 0 0 0;
          flex: 1;
        }
      }
    }
  }
}

.card-tuner {
  width: 100%;
  display: flex;
  flex-direction: column;

  .tooltip-text {
    display: flex;
    justify-content: center;
    font-size: 11px;
    margin: 8px 0 0 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.effect-list.cdk-drop-list-dragging .card-drop-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Responsive Styles */
@media screen and (max-width: 460px) {
  .tab-effects {
    max-width: 100%;

    .content {
      .power-brightness {
        width: 100%;
      }

      .block-params {
        width: 100%;
      }

      .mode-params {
        .togglers .toggler p {
          letter-spacing: 0;
        }
      }

      .time-params {
        .action-container {
          padding: 0 12px;
        }
      }

      .card-container {
        width: 100%;
      }
    }
  }
}
