<div class="tab-effects">
  @if (!socketService.firstConnect) {
    <div class="content" role="main">

      <div class="top-container">

        <div class="block3">
          <div class="power-brightness">
            <div [ngClass]="getPowerButtonClass()">
              <app-action [config]="power" [disabled]="!this.socketService.isConnected" [tooltip]="managementService.state.power ? L.$('Выключить') : L.$('Включить')"></app-action>
              <span [ngClass]="getBrightnessLabelClass()">{{ L.$('Яркость') }}</span>
            </div>
            <div class="sync-type" [matTooltip]="getSyncTypeTooltip()" [ngClass]="getSyncClass()">
              <span>{{ getSyncType() }}</span>
            </div>
            <div class="brightness-container" [matTooltip]="getDisabledTooltip()">
              <div class="brightness-buttons">
                <app-action [config]="bright_5" [disabled]="isDisabledByIncomeStream()" tooltip="5%"></app-action>
                <app-action [config]="bright_25" [disabled]="isDisabledByIncomeStream()" tooltip="25%"></app-action>
                <app-action [config]="bright_50" [disabled]="isDisabledByIncomeStream()" tooltip="50%"></app-action>
                <app-action [config]="bright_75" [disabled]="isDisabledByIncomeStream()" tooltip="75%"></app-action>
                <app-action [config]="bright_100" [disabled]="isDisabledByIncomeStream()" tooltip="100%"></app-action>
              </div>
              <app-brightness-slider class="brightness-slider" [disabled]="isDisabledByIncomeStream()" [value]="managementService.state.brightness"></app-brightness-slider>
            </div>
          </div>
        </div>

        <div class="block3">
          <div class="block-params time-params">
            <div>
              <div class="field-container">
                <mat-form-field hintLabel="{{ L.$('смена эффекта через') }} {{input.value}} {{ L.$('секунд') }}" floatLabel="always">
                  <mat-label>{{ L.$('Время режима') }}</mat-label>
                  <input matInput #input autocomplete="new-password" type="number" [min]="5" [max]="255" (keydown)="commonService.checkLength($event,3)" (keyup)="commonService.checkLength($event, 3)"
                         [formControl]="effectTimeFormControl"
                         [disableControl]="isDisabled()"
                         [errorStateMatcher]="matcher">
                  <p matTextSuffix="">{{ L.$('секунд') }}</p>
                  @if (effectTimeFormControl.hasError('required')) {
                    <mat-error>
                      {{ L.$('Поле не может быть пустым!') }}
                    </mat-error>
                  }
                  @if (effectTimeFormControl.hasError('range') && !effectTimeFormControl.hasError('required')) {
                    <mat-error>
                      {{ L.$('от 5 до 255 секунд') }}
                    </mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="field-container">
                <mat-form-field [hintLabel]="getHintForAutoModeTime()" floatLabel="always">
                  <mat-label>{{ L.$('Авторежим через') }}</mat-label>
                  <input matInput #input2 autocomplete="new-password" type="number" [min]="0" [max]="255" (keydown)="commonService.checkLength($event,3)" (keyup)="commonService.checkLength($event, 3)"
                         [formControl]="autoModeTimeFormControl"
                         [disableControl]="isDisabled()"
                         [errorStateMatcher]="matcher">
                  <p matTextSuffix="">{{ L.$('минут') }}</p>
                  @if (autoModeTimeFormControl.hasError('required')) {
                    <mat-error>
                      {{ L.$('Поле не может быть пустым!') }}
                    </mat-error>
                  }
                  @if (autoModeTimeFormControl.hasError('range') && !autoModeTimeFormControl.hasError('required')) {
                    <mat-error>
                      {{ L.$('от 0 до 255 минут') }}
                    </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="action-container">
              <button mat-raised-button color="primary" (click)="applyIntervals($event)" [disabled]="isDisabled()">{{L.$('Применить')}}</button>
            </div>

          </div>
        </div>

        <div class="block3">
          <div class="block-params mode-params">
            <div class="togglers">
              <div class="toggler" [matTooltip]="getDisabledTooltip()">
                <mat-slide-toggle color="primary" class="switch" disableRipple
                                  [(ngModel)]="managementService.state.isAutomatic"
                                  [disabled]="isDisabledByIncomeStream()"
                                  (change)="toggleAutoMode($event)">
                  <p>{{ L.$('Автосмена эффекта') }}</p>
                </mat-slide-toggle>
              </div>
              <div class="toggler" [matTooltip]="getDisabledTooltip()">
                <mat-slide-toggle color="primary" class="switch" disableRipple
                                  [(ngModel)]="managementService.state.isRandom"
                                  [disabled]="isDisabledByIncomeStream()"
                                  [matTooltip]="getDisabledTooltip()"
                                  (change)="toggleRandomMode($event)">
                  <p>{{ L.$('Случайный выбор эффекта') }}</p>
                </mat-slide-toggle>
              </div>
            </div>
            <div class="buttons" [matTooltip]="getDisabledTooltip()" [ngClass]="{'disabled': isDisabledByIncomeStream()}">
              <button mat-raised-button color="primary" class="prev"
                      [ngClass]="{'disabled': isDisabledByIncomeStream()}"
                      [disabled]="isDisabledByIncomeStream()" (click)="prev($event)" [matTooltip]="L.$('Предыдущий эффект')">
                {{ L.$('Назад') }}
              </button>
              <button mat-raised-button color="primary" class="next"
                      [ngClass]="{'disabled': isDisabledByIncomeStream()}"
                      [disabled]="isDisabledByIncomeStream()" (click)="next($event)" [matTooltip]="L.$('Следующий эффект')">
                {{ L.$('Вперед') }}
              </button>
            </div>
          </div>

          <div class="clock-button-spacer"></div>

          <div style="display:flex;flex-direction:row">
            <div class="block-params mode-params clock-button" [matTooltip]="getNightClockTooltip()">
              <button mat-raised-button color="primary" class="night"
                      [ngClass]="{'active': managementService.state.isNightClockRunnung(), 'disabled': isDisabledByIncomeStream()}"
                      [disabled]="isDisabledByIncomeStream()" (click)="toggleNightClock()">
                <mat-icon>snooze</mat-icon>
                @if (!managementService.state.isNightClockRunnung()) {
                  <span>{{ L.$('Включить ночные часы') }}</span>
                }
                @if (managementService.state.isNightClockRunnung()) {
                  <span>{{ L.$('Ночные часы. Выключить.') }}</span>
                }
              </button>
            </div>

            @if (isAuxSupported) {
              <div style="width:12px"></div>
              <div class="block-params mode-params aux-button" [matTooltip]="getAuxTooltip()">
                <button mat-raised-button color="primary" class="aux"
                        [ngClass]="{'active': isAuxActive, 'disabled': isAuxDisabled()}"
                        [disabled]="isAuxDisabled()" (click)="toggleAuxLine()">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>{{ L.$('AUX') }}</span>
                </button>
              </div>
            }
          </div>

        </div>

      </div>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon show-label">double_arrow</mat-icon>
            <span>{{ L.$('Эффекты') }}</span>
          </ng-template>
          <ng-template matTabContent>
            <div class="card-container">
              @for (idx of managementService.effects_in_use; track idx) {
                <app-effect [model]="managementService.effects[idx]" [disabled]="isDisabled()" [choosing]="false"></app-effect>
              }
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon show-label">swap_horiz</mat-icon>
            <span>{{ L.$('Выбор') }}</span>
          </ng-template>
          <ng-template matTabContent>
            <div class="card-tuner">
              <div class="tooltip-text">{{ L.$('Перетаскивайте карточки между списками') }}</div>
              <div class="card-container choosing" cdkDropListGroup>
                <div class="list-container">
                  <h2 class="right">{{ L.$('Включено') }}</h2>
                  <div class="btn right">
                    <span>{{ L.$('Отключить все') }}</span>
                    <mat-icon class="tab-icon show-label" (click)="selectAll(false)">arrow_forward</mat-icon>
                  </div>
                  <div cdkDropList #list1="cdkDropList"
                       [cdkDropListData]="managementService.effects_in_use"
                       [cdkDropListConnectedTo]="list2"
                       (cdkDropListDropped)="drop($event)"
                       class="effect-list">
                    @for (idx of managementService.effects_in_use; track idx) {
                      <div cdkDrag>
                        <app-effect [model]="managementService.effects[idx]" [disabled]="isDisabled()" [choosing]="true"></app-effect>
                      </div>
                    }
                  </div>
                </div>

                <div class="list-container">
                  <h2 class="left">{{ L.$('Отключено') }}</h2>
                  <div class="btn left">
                    <mat-icon class="tab-icon show-label" (click)="selectAll(true)">arrow_backward</mat-icon>
                    <span>{{ L.$('Добавить все') }}</span>
                  </div>
                  <div cdkDropList #list2="cdkDropList"
                       [cdkDropListData]="managementService.effects_not_use"
                       [cdkDropListConnectedTo]="list1"
                       (cdkDropListDropped)="drop($event)"
                       class="effect-list">
                    @for (idx of managementService.effects_not_use; track idx) {
                      <div cdkDrag>
                        <app-effect [model]="managementService.effects[idx]" [disabled]="isDisabled()" [choosing]="true"></app-effect>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>

      </mat-tab-group>

    </div>
  }
</div>

<div style="height:54px"></div>
