<div class="main-page" (contextmenu)="onRightMouseClick($event)">
  <mat-toolbar class="toolbar" color="primary" role="banner">
    <mat-toolbar-row>
      <!-- Toolbar -->
      <div class="lamp"></div>
      <h1>{{managementService.state.hostName}}</h1>
      <div class="spacer">
        @if (managementService.state.width > 0 && managementService.state.height > 0) {
          <div class="size_panel">
            [{{managementService.state.width}} x {{managementService.state.height}}]
          </div>
        }
      </div>
      <div class="themes">
        <mat-icon class="light" matTooltip="{{L.$('Светлая тема')}}" (click)="setDarkTheme(false)">wb_sunny</mat-icon>
        <mat-slide-toggle class="theme-switch" [checked]="isDarkTheme" matTooltip="{{L.$('Выбор темы оформления')}}"
                          (change)="changeTheme($event)">
        </mat-slide-toggle>
        <mat-icon class="dark" matTooltip="{{L.$('Темная тема')}}" (click)="setDarkTheme(true)">brightness_3</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  @if (managementService.state.alarming && socketService.isConnected) {
    <div class="alarm">
      <mat-icon class="ding" (click)="stopAlarm()">notifications_active</mat-icon>
    </div>
  }

  @if (socketService.firstConnect || !socketService.isConnected) {
    <div class="connect-wrapper">
      <div class="connect-message">
        <mat-icon class="wifi-sign">wifi</mat-icon>
        <h1>{{socketService.firstConnect ? (L.loaded ? L.$('Подключение...') : '. . . . . . . . . . . .') : L.$('Соeдинение утеряно...')}}</h1>
      </div>
    </div>
  }

  @if (socketService.firstConnect) {
    <div class="page-content" role="main"></div>
  }

  @if (!socketService.firstConnect) {
    <div class="page-content" role="main">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [(selectedIndex)]="selectedTab">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Эффекты ')}}">blur_on</mat-icon>
            <span>{{ L.$('Эффекты ') }}</span>
          </ng-template>
          <ng-template matTabContent>
          @defer (on viewport) {
            <app-tab-effects></app-tab-effects>
          } @placeholder {
            <div>{{ L.$('Эффекты ') }}</div>
          }
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Тексты ')}}">title</mat-icon>
            <span>{{ L.$('Тексты ') }}</span>
          </ng-template>
          <ng-template matTabContent>
            @defer (on viewport) {
              <app-tab-texts-panel></app-tab-texts-panel>
            } @placeholder {
              <div>{{ L.$('Тексты ') }}</div>
            }
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Часы ')}}">schedule</mat-icon>
            <span>{{ L.$('Часы ') }}</span>
          </ng-template>
          <ng-template matTabContent>
            @defer (on viewport) {
              <app-tab-clock></app-tab-clock>
            } @placeholder {
              <div>{{ L.$('Часы ') }}</div>
            }
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Будильник ')}}">alarm</mat-icon>
            <span>{{ L.$('Будильник ') }}</span>
          </ng-template>
          <ng-template matTabContent>
            @defer (on viewport) {
              <app-tab-alarm></app-tab-alarm>
            } @placeholder {
              <div>{{ L.$('Будильник ') }}</div>
            }
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Режимы ')}}">schedule_send</mat-icon>
            <span>{{ L.$('Режимы ') }}</span>
          </ng-template>
          <ng-template matTabContent>
            @defer (on viewport) {
              <app-tab-modes></app-tab-modes>
            } @placeholder {
              <div>{{ L.$('Режимы ') }}</div>
            }
          </ng-template>
        </mat-tab>

        @if (isInitialized() && !isStreaming()) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon" matTooltip="{{L.$('Рисование ')}}">brush</mat-icon>
              <span>{{ L.$('Рисование ') }}</span>
            </ng-template>
            <ng-template matTabContent>
              @defer (on viewport) {
                <app-tab-draw></app-tab-draw>
              } @placeholder {
                <div>{{ L.$('Рисование ') }}</div>
              }
            </ng-template>
          </mat-tab>
        }

        @if (isInitialized() && !isStreaming()) {
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon" matTooltip="{{L.$('Игры ')}}">sports_esports</mat-icon>
              <span>{{ L.$('Игры ') }}</span>
            </ng-template>
            <ng-template matTabContent>
              @defer (on viewport) {
                <app-tab-games></app-tab-games>
              } @placeholder {
                <div>{{ L.$('Игры ') }}</div>
              }
            </ng-template>
          </mat-tab>
        }

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" matTooltip="{{L.$('Настройки ')}}">settings</mat-icon>
            <span>{{ L.$('Настройки ') }}</span>
          </ng-template>
          <ng-template matTabContent>
            @defer (on viewport) {
              <app-tab-setup></app-tab-setup>
            } @placeholder {
              <div>{{ L.$('Настройки ') }}</div>
            }
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  }

  <div class="footer">
    <a (click)="debugOnOff()">
      <div class="hidden-button"></div>
    </a>
    @if (managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && socketService.isConnected && this.selectedTab != 7) {
      <div class="version" (click)="showEffectInformation(2000)">{{managementService.state.version}}</div>
    }
    @if (managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && socketService.isConnected && this.selectedTab == 7) {
      <div class="stats">{{getUptimeAndMemoryUsage()}}</div>
    }
    @if (managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && !socketService.isConnected) {
      <div class="noconnect">{{L.$('*** Нет связи с устройством ***')}}</div>
    }
    @if (socketService.isConnected && !managementService.state.power) {
      <div class="poweroff">{{L.$('*** Устройство выключено ***')}}</div>
    }
    @if (managementService.state.power && commonService.info.length > 0) {
      <div class="info">{{commonService.info}}</div>
    }
    @if (managementService.state.power && commonService.error.length > 0) {
      <div class="error">{{commonService.error}}</div>
    }
  </div>
</div>
