<div class="main-page" (contextmenu)="onRightMouseClick($event)">
  <mat-toolbar class="toolbar" color="primary" role="banner">
    <mat-toolbar-row>
      <!-- Toolbar -->
      <div class="lamp"></div>
      <h1>{{managementService.state.hostName}}</h1>
      <div class="spacer">
        <div class="size_panel" *ngIf="managementService.state.width > 0 && managementService.state.height > 0">
          [{{managementService.state.width}} x {{managementService.state.height}}]
        </div>
      </div>
      <div class="themes">
        <mat-icon class="light" matTooltip="{{L.$('Светлая тема')}}" (click)="setDarkTheme(false)">wb_sunny</mat-icon>
        <mat-slide-toggle class="theme-switch" [checked]="isDarkTheme" matTooltip="{{L.$('Выбор темы оформления')}}"
                          (change)="changeTheme($event)">
        </mat-slide-toggle>
        <mat-icon class="dark" matTooltip="{{L.$('Темная тема')}}" (click)="setDarkTheme(true)">brightness_3</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="alarm" *ngIf="managementService.state.alarming && socketService.isConnected">
    <mat-icon class="ding" (click)="stopAlarm()">notifications_active</mat-icon>
  </div>

  <div *ngIf="socketService.firstConnect || !socketService.isConnected" class="connect-wrapper">
    <div class="connect-message">
      <mat-icon class="wifi-sign">wifi</mat-icon>
      <h1>{{socketService.firstConnect ? (L.loaded ? L.$('Подключение...') : '. . . . . . . . . . . .') : L.$('Соeдинение утеряно...')}}</h1>
    </div>
  </div>

  <div *ngIf="socketService.firstConnect" class="page-content" role="main">
  </div>

  <div *ngIf="!socketService.firstConnect" class="page-content" role="main">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [(selectedIndex)]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Эффекты ')}}">blur_on</mat-icon>
          <span>{{ L.$('Эффекты ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-effects></app-tab-effects>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Тексты ')}}">title</mat-icon>
          <span>{{ L.$('Тексты ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-texts-panel></app-tab-texts-panel>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Часы ')}}">schedule</mat-icon>
          <span>{{ L.$('Часы ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-clock></app-tab-clock>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Будильник ')}}">alarm</mat-icon>
          <span>{{ L.$('Будильник ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-alarm></app-tab-alarm>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Режимы ')}}">schedule_send</mat-icon>
          <span>{{ L.$('Режимы ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-modes></app-tab-modes>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Рисование ')}}">brush</mat-icon>
          <span>{{ L.$('Рисование ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-draw></app-tab-draw>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Игры ')}}">sports_esports</mat-icon>
          <span>{{ L.$('Игры ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-games></app-tab-games>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon" matTooltip="{{L.$('Настройки ')}}">settings</mat-icon>
          <span>{{ L.$('Настройки ') }}</span>
        </ng-template>
        <ng-template matTabContent>
          <app-tab-setup></app-tab-setup>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="footer">
    <div class="version" *ngIf="managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && socketService.isConnected && this.selectedTab != 7"
         (click)="showEffectInformation(2000)">{{managementService.state.version}}</div>
    <div class="stats" *ngIf="managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && socketService.isConnected && this.selectedTab == 7">{{getUptimeAndMemoryUsage()}}</div>
    <div class="noconnect" *ngIf="managementService.state.power && commonService.error.length === 0 && commonService.info.length === 0 && !socketService.isConnected">{{L.$('*** Нет связи с устройством ***')}}</div>
    <div class="poweroff" *ngIf="socketService.isConnected && !managementService.state.power">{{L.$('*** Устройство выключено ***')}}</div>
    <div class="info" *ngIf="managementService.state.power && commonService.info.length > 0">{{commonService.info}}</div>
    <div class="error" *ngIf="managementService.state.power && commonService.error.length > 0">{{commonService.error}}</div>
  </div>
</div>
