.slider {
  width: 100%;
  height: auto;
  margin-top: 8px;

  .slider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    p {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 11px;
      color: var(--dialog-secondary-text);
    }
  }
}
