@use '../../../app-theme';

:host .tab-other {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 6px 0;
  height: calc(100dvh - 228px);
  width: auto;
  position: relative;

  .backup-fieldset {
    .backup-container {
      max-width: 380px;
    }
  }

  .other-fieldset {
    width: 100%;
    max-width: 380px;
    height: fit-content;
    display: table;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 12px 0;

    --field-width: 340px;
    --label-width: 200px;

    .field-container {
      margin: 8px 0 0 0;
      display: flex;
      flex-direction: row;
      position: relative;

      &.nomargin {
        margin: 0;
      }

      .right {
        text-align: right;
      }

      .action-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin: 0 6px 0 0;

        &.center {
          justify-content: center;

          .mdc-button {
            margin: 0 3px 0 3px;
          }
        }

        &.backup {

          .backup-btn {
            //width: 55px;
            width: 100%;
            max-width: 72px;
            min-width: 51px;
            height: 28px;
            padding: 0;
          }

          .like-btn {
            margin: 0 3px 0 3px;
            width: 100%;
            max-width: 72px;
            min-width: 51px;

            a {
              text-decoration: none;
            }

            label {
              color: white;
              width: 100%;
              //width: 55px;
              height: 28px;
              background-color: var(--button-back-color);
              font-size: 14px;
              border-radius: 3px;

              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: var(--button-hover-color);
                color: white;
                cursor: pointer;
              }

              .mat-icon {
                margin-top: 5px;
              }
            }

            .narrow_button {
              width: 6em;
            }
          }

        }

        &.restart-button {
          justify-content: space-between;

          .label {
            display: inline-block;
          }
        }

      }


      ::ng-deep mat-form-field {
        width: var(--field-width);

        .mdc-floating-label {
          background-color: var(--app-background-color);
          width: var(--label-width);
        }

        .mat-mdc-input-element {
          padding-left: calc(var(--label-width) + 4px);
        }

      }
    }
  }

  .debug-fieldset {

    --field-debug-width: 106px;
    --label-debug-width: 52px;

    min-width: 380px;
    max-width: 380px;
    height: fit-content;
    margin-top: 12px;
    padding: 1em 1em 0 1em;

    .send-button {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 6px 6px 12px 0;
      gap: 12px;
      justify-content: space-between;

      .arrows {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;

        .narrow {
          min-width: 36px;
          max-width: 36px;
          width: 36px;
          padding: 0 0 0 12px;

          .mat-icon.rot90 {
            transform: rotate(90deg);
          }
        }
      }

      &.center {
        justify-content: center;

        .mdc-button {
          margin: 0 3px 0 3px;
        }
      }
    }

    .field-container {
      margin: 8px 0 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;

      &.nomargin {
        margin: 0;
      }

      .right {
        text-align: right;
      }

      ::ng-deep mat-form-field {
        width: var(--field-debug-width);
        margin: 4px;

        .mdc-floating-label {
          background-color: var(--app-background-color);
          width: var(--label-debug-width);

          .mat-mdc-form-field-required-marker {
            display: none;
          }
        }

        .mat-mdc-input-element {
          text-align: right;
          padding-left: calc(var(--label-debug-width) + 4px);
        }

      }
    }
  }
}
