<div class="tab-other">
  <fieldset class="app-fieldset other-fieldset">
    <legend>{{ L.$('Прочие настройки') }}</legend>

    <div class="field-container">
      <mat-form-field floatLabel="always">
        <mat-label>{{ L.$('Имя системы') }}</mat-label>
        <input matInput autocomplete="new-password" class="left" type="text" [maxLength]="16"
               [formControl]="systemNameFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        @if (systemNameFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('Поле не может быть пустым!') }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="field-container">
      <div class="action-button">
        <button mat-raised-button color="primary" (click)="applySystemName($event)" [disabled]="isDisabled() || !isSystemNameValid()">{{L.$('Применить')}}</button>
      </div>
    </div>
  </fieldset>

  <fieldset class="app-fieldset other-fieldset">
    <legend>{{ L.$('Прочие настройки') }}</legend>

    <div class="field-container">
      <mat-form-field [hintLabel]="getHintForLimit()" floatLabel="always">
        <mat-label>{{ L.$('Лимит по току') }}</mat-label>
        <input matInput #input2 autocomplete="new-password" class="right" type="number" [min]="0" [max]="50000" [step]="500"
               [formControl]="autoLimitFormControl"
               [disableControl]="isDisabled()"
               [errorStateMatcher]="matcher">
        <p matTextSuffix="">{{ L.$('миллиампер') }}</p>
        @if (autoLimitFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('Поле не может быть пустым!') }}
          </mat-error>
        }
        @if (autoLimitFormControl.hasError('range') && !autoLimitFormControl.hasError('required')) {
          <mat-error>
            {{ L.$('от 0 до 50000 миллиампер') }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="field-container">
      <div class="action-button">
        <button mat-raised-button color="primary" (click)="applySettings($event)" [disabled]="isDisabled() || !isSettingsValid()">{{L.$('Применить')}}</button>
      </div>
    </div>

  </fieldset>

  @if (fs_allow || sd_allow) {
    <fieldset class="app-fieldset other-fieldset backup-fieldset">
      <legend>{{ L.$('Резервная копия настроек') }}</legend>
      <div class="field-container nomargin backup-container">
        <div class="action-button center backup">
          @if (fs_allow) {
            @if (backup_place === 1 || backup_place === 3) {
              <button mat-raised-button color="primary" class="backup-btn"
                  matTooltip="{{L.$('Загрузить с FS')}}"
                  [disabled]="isDisabled()"
                  (click)="loadFrom(0)">
                <mat-icon matSuffix>settings_backup_restore</mat-icon>
                <span>{{L.$('FS')}}</span>
              </button>
            }

            <button mat-raised-button color="primary" class="backup-btn"
                  matTooltip="{{L.$('Сохранить в FS')}}"
                  [disabled]="isDisabled()"
                  (click)="saveTo(0)">
              <mat-icon matSuffix>save</mat-icon>
              <span>{{L.$('FS')}}</span>
            </button>

            <div class="like-btn" matTooltip="{{L.$('Загрузить в контроллер')}}">
              <label class="btn btn-default mat-button">
                <mat-icon matSuffix>publish</mat-icon>
                <span>{{L.$('FS')}}</span>
                <form #uploadFileForm>
                  <input name="file" type="file" style="display: none;" ng2FileSelect [uploader]="fileUploaderWrapper.getUploader()"
                         (onFileSelected)="onUpload()" accept=".hex">
                </form>
              </label>
            </div>
            @if (backup_place === 1) {
              <div class="like-btn" matTooltip="{{L.$('Сохранить в файл')}}">
                <a href="{{'/assets/' + backup_file}}" download>
                  <label class="btn btn-default mat-button">
                    <mat-icon matSuffix>file_download</mat-icon>
                    <span>{{L.$('FS')}}</span>
                  </label>
                </a>
              </div>
            }
          }
          @if (sd_allow) {
            @if (backup_place === 2 || backup_place === 3) {
              <button mat-raised-button color="primary" class="backup-btn"
                      matTooltip="{{L.$('Загрузить с SD')}}"
                      [disabled]="isDisabled()"
                      (click)="loadFrom(1)">
                <mat-icon matSuffix>settings_backup_restore</mat-icon>
                <span>{{L.$('SD')}}</span>
              </button>
              <button mat-raised-button color="primary" class="backup-btn"
                      matTooltip="{{L.$('Сохранить в SD')}}"
                      [disabled]="isDisabled()"
                      (click)="saveTo(1)">
                <mat-icon matSuffix>save</mat-icon>
                <span>{{L.$('SD')}}</span>
              </button>
            }
          }
        </div>
      </div>
    </fieldset>
  }

  <fieldset class="app-fieldset other-fieldset">
    <div class="field-container nomargin">
      <div class="action-button restart-button">
        <p class="label">{{ L.$('Перезагрузка устройства') }}</p>
        <button mat-raised-button color="primary"
                [disabled]="isDisabled()"
                (click)="restart()">
          <mat-icon matPrefix>cached</mat-icon>
          {{L.$('Перезагрузить')}}
        </button>
      </div>
    </div>
  </fieldset>

</div>
