@use './../../app-theme';

:host .color-picker-container {
  display: flex;
  flex-direction: row;
  background-color: var(--card-background-color);
  border: solid 1px var(--card-border-color);
  border-radius: 6px;
  padding: 12px 12px 12px 16px;
  transition: all 0.2s ease-in-out;
  flex-wrap: wrap;
  max-width: 254px;

  .color-palette {
    margin: 0 0 12px 0;

    .picker {
      width: 225px;
      height: 225px;
      border: solid 1px var(--card-border-color);

      color-chrome {
        ::ng-deep .chrome-picker {
          width: 100%;
          height: 100%;
          box-shadow: none;

          .saturation {
            height: 100%;
          }
        }
      }
    }
  }

  color-hue-picker {
    display: block;
    margin: 20px 0 4px 0;
  }

  color-github {
    .github-picker {
      background-color: var(--color-picker-background);
      border: solid 1px var(--card-border-color);
    }
  }

  .color-view {
    width: 122px;
    height: 90px;
    border: solid 1px var(--card-border-color);
  }

  .colors-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .buttons {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: end;
      align-items: end;

      .cancel {
        width: 90px;
        height: 28px;
        margin: 4px 0 0 0;
      }

      .select {
        width: 90px;
        height: 28px;
      }
    }
  }
}
